article {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  article p {
    margin-bottom: 20px;
  }
  
  .item-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .item-card label {
    display: block;
    margin-bottom: 5px;
  }
  
  .item-card input {
    margin-right: 5px;
  }
  
  .item-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  article > h2 {
    text-align: center;
    position: relative;
    border-bottom: 3px dotted pink;
  }
  
  article > h2::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 1px;
  }
  
  article>img{
    float: right;
    margin-left: 10px;
    width: 40%;
    padding-bottom: 10px;
    border-radius: 10px;
  }