#gallery {
    text-align: center;
  }
  
  #big-frame {
    margin-bottom: 10px;
  }
  
  .thumbnail {
    width: 80px;
    margin: 0 5px;
    cursor: pointer;
  }
  
img#main-image{
    width: 25%;
    height: auto;
}
.thumbnail.selected {
    border: 2px solid red; /* Add your desired styling here */
  }