.item-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 200px;
  flex: 1 0 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.item-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5%;
  margin-bottom: 10px;
}

.item-card label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-card input[type="checkbox"] {
  margin-top: 10px;
}

.item-card h3 {
  margin-top: 10px;
}

/* Responsive layout */
@media (max-width: 600px) {
  .item-card {
    flex-basis: 100%;
  }
}

.item-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  margin-bottom: 10px;
}

.item-grid::after {
  content: "";
  flex: auto;
}
form>p, form>button{
  padding-left: 10px;
}
